.Container {
  padding: 50px;
}

.Form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form h1 {
  margin: 0 auto 50px;
}

.Form h2 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 60px;
}

.ServiceInput {
  width: 400px;
}

.Buttons {
  display: flex;
  margin-top: 60px;
}

.Buttons button {
  width: 150px;
  font-size: 25px;
}

.CancelButton {
  margin-right: 20px;
}

.ActiveButton:first-child {
  margin-right: 20px;
}

.ActiveButton:nth-child(2) {
  margin-left: 20px;
}

.Step2Wrapper {
  display: flex;
  align-items: center;
  margin: 0 50px 20px;
}

.Step2Wrapper > div {
  margin: 0 10px;
  width: 180px;
}

.Step3Wrapper {
  display: flex;
  align-items: center;
  margin: 0 20px 20px;
}

.Step3Wrapper div:nth-child(2) {
  margin-bottom: 0;
}

.PayDay {
  width: 65px;
  margin: 0 10px;
}

.PayMonth {
  width: 180px;
  margin: 0 10px 0 0;
}

.TextInput {
  font-size: 18px;
}

.Step4Wrapper {
  width: 600px;
}
