.Container {
  width: 550px;
  height: 80px;
  margin: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--secondary-bg-color);
}

.LeftPart {
  display: flex;
}

.ImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--bright-text-color);
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.ImageWrapper object,
.ImageWrapper img {
  border-radius: 10px;
}

.ServiceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Container h3 {
  margin: 0 0 5px;
  font-size: 28px;
}

.Recurrence {
  font-size: 18px;
  color: var(--secondary-text-color);
}

.RightPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.NextPayment {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.NextPayment span {
  font-size: 18px;
  margin-right: 10px;
  color: var(--secondary-text-color);
}

.NextPayment h4 {
  font-size: 22px;
  margin: 0;
}

.Hoverable:hover {
  background-color: var(--main-bg-color);
  cursor: pointer;
}

@media(max-width: 650px) {
  .Container {
    width: calc(100% - 70px);
    height: 60px;
    margin: 20px;
  }

  .ImageWrapper {
    font-size: 48px;
    width: 60px;
    height: 60px;
  }
  
  .ImageWrapper object,
  .ImageWrapper img {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LeftPart {
    align-items: center;
  }

  .Container h3 {
    font-size: 20px;
  }
  
  .Recurrence {
    font-size: 16px;
  }

  .NextPayment span {
    font-size: 16px;
  }
  
  .NextPayment h4 {
    font-size: 16px;
    margin: 0;
  }
}

@media(max-width: 450px) {
  .Container {
    width: calc(100% - 70px);
    height: 40px;
    margin: 15px;
  }

  .ImageWrapper {
    font-size: 32px;
    width: 40px;
    height: 40px;
  }
  
  .ImageWrapper object,
  .ImageWrapper img {
    height: 40px;
    width: 40px;
  }

  .Container h3 {
    font-size: 18px;
  }
  
  .Recurrence {
    font-size: 14px;
  }

  .NextPayment span {
    font-size: 14px;
  }
  
  .NextPayment h4 {
    font-size: 16px;
  }
}
