.Container {
  border-style: none;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.Container:focus {
  outline: none;
}

.Loading {
  display: inline-block;
}

.Loading:after {
  content: ' ';
  display: block;
  width: 26px;
  height: 26px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
