.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.NoSubscription {
  margin-top: 250px;
}

.NoSubscription h1 {
  margin-bottom: 50px;
}

.NoSubscription button {
  width: 350px;
}
