.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  text-align: center;
  padding: 50px 0;
}

.LoadingWrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
}

.NoSubscription h1 {
  margin-bottom: 50px;
}

.NoSubscription button {
  width: 350px;
}

.SubscriptionsWrapper {
  height: 100%;
}

.DateTitle {
  font-size: 28px;
}

.DateTitle {
  display: flex;
  margin: 40px 0 20px 30px;
}
