.Container {
  width: 100vw;
  height: 60px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Container a {
  text-decoration: none;
}

.Logo {
  color: var(--bright-text-color);
  font-weight: 700;
  margin-left: 20px;
}

.Elements {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.Elements a {
  color: var(--bright-text-color);
  font-weight: 700;
}

.ButtonHeader {
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  padding: 0 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  margin: 0 10px;
}

.LandingLink {
  font-size: 18px;
}

.IconWrapper {
  color: var(--bright-text-color);
  margin-left: 10px;
  font-size: 32px;
  cursor: pointer;
}
