.Container {
  width: 100vw;
  height: 60px;
  position: fixed;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Container a {
  text-decoration: none;
}

.LogoWrapper {
  display: flex;
  align-items: center;
}

.LogoWrapper svg {
  height: 40px;
}

.Elements {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.Elements a {
  color: var(--bright-text-color);
  font-weight: 700;
}

.ButtonHeader {
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  padding: 0 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  margin: 0 10px;
}

.NoFrameLink {
  font-size: 18px;
  color: var(--bright-text-color);
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
}

.AdminButton {
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  padding: 0 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  margin: 0;
}
