.Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Title {
  margin-bottom: 40px;
}

.Form {
  background-color: var(--secondary-bg-color);
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  padding: 40px 40px 20px 40px;
  z-index: 2;
}

.ForgotPassword a {
  color: var(--main-color);
  text-decoration: none;
}

.MarginButton {
  margin-top: 30px;
}

.ErrorWrapper {
  display: flex;
  color: red;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  height: 20px;
  text-align: center;
}

@media(max-width: 500px) {
  .Title {
    font-size: 24px;
  }

  .Form {
    width: 60%;
  }

  .Form input {
    font-size: 16px;
  }
}
